<h1>{{title}}</h1>
<a href="/">Home</a>

<form class="" action="/add" method="post">
  <label for="list_item">To Do:</label><br>
  <input type="text" name="list_item" required>
  <input type="radio" name="done" value="false" hidden="true">
  <button type="submit">Submit</button>
</form>
