<h1>{{title}}</h1>

<form action="index.html" method="post">
  {{#each list}}
  <label for="first">1st Item</label>
  <input name="first" placeholder="{{this.list_item}}">
  <label for="radio1">Done</label>
  <input type="radio" name="radio1"><br>
  <label for="first">2nd Item</label>
  <input name="first">
  <label for="radio1">Done</label>
  <input type="radio" name="radio1"><br>
  <label for="first">3rd Item</label>
  <input name="first">
  <label for="radio1">Done</label>
  <input type="radio" name="radio1"><br>
  <label for="first">4th Item</label>
  <input name="first">
  <label for="radio1">Done</label>
  <input type="radio" name="radio1"><br>
  <label for="first">5th Item</label>
  <input name="first">
  <label for="radio1">Done</label>
  <input type="radio" name="radio1"><br>
  <label for="first">6th Item</label>
  <input name="first">
  <label for="radio1">Done</label>
  <input type="radio" name="radio1"><br>
  <label for="first">7th Item</label>
  <input name="first">
  <label for="radio1">Done</label>
  <input type="radio" name="radio1"><br>
  {{/each}}
</form>


{{this.list_item}}
